html {
  color: #f2f5f7;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  background: #0e141b;
  min-height: 100%;
  background-attachment: fixed;
  /* Adds nice shadow blur effect
  text-shadow: 0 2px 4px rgb(13 0 77 / 8%), 0 3px 6px rgb(13 0 77 / 8%),
  0 8px 16px rgb(13 0 77 / 8%); */
  text-align: center;
}
a {
  color: #ffe100;
  text-decoration: none;
  font-weight: 800;
  text-align: center;
}
a:hover {
  text-decoration: underline;
}
.pandalogo {
  /* perfect center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25vmax;
}
.topnav {
  background-color: #ffe100;
  color: #0e141b;
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: 5vmax;
  height: 1.5vmax;
  font-size: 1.2vmax;
  font-weight: 800;
  border-radius: 15px;
  border: 0;
  box-shadow: -2px 5px #ff4500;
  display: inline-block;
  /* check this if there is too much space below navbar */
  margin-bottom: 3rem;
  margin-left: 0.3vmax;
}
.topnav:hover {
  background-color: #ff0a78;
  text-decoration: none;
}
.topnav:active {
  transform: translate(-2%, 0.3vmax);
  box-shadow: 0 0;
}
.clicky {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  background-color: #1c2935;
  color: #0e141b;
  font-size: small;
  width: 6rem;
  height: 2rem;
  border-radius: 15px;
  border: 0;
  text-align: center;
  box-shadow: -2px 5px #1a1f24;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.6rem;
}
.clicky:hover {
  background-color: #ff0a78;
  text-decoration: none;
}
.clicky:active {
  transform: translate(-1%, 0.2rem);
  box-shadow: 0 0;
}
.tiny {
  font-size: 0.5rem;
  font-style: italic;
}
::-moz-selection {
  color: #9776df;
  background: rgba(255, 255, 255, 0);
}
::selection {
  color: #9776df;
  background: rgba(255, 255, 255, 0);
}
.header {
  font-weight: 500;
  font-size: 1.5vmax;
  color: rgba(255, 255, 255, 0.736);
  margin-bottom: 2rem;
  line-height: 2vmax;
}
h1 {
  font-weight: 600;
  font-size: 2rem;
  color: #ff0a78;
  margin-bottom: 2rem;
}
.main {
  font-family: "Fanwood Text", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.736);
  margin-bottom: 2rem;
  line-height: 4rem;
}
.footer {
  margin: auto;
  width: 100%;
  color: #651fff;
  font-weight: 800;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #0e141b;
  font-size: 1.1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.disappointment {
  background: -webkit-linear-gradient(left, #ff0a78 0, #00d9ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
}
#cowcat {
  width: 50rem;
  border-radius: 15px;
}
#thursty {
  position: absolute;
  width: 800px;
  animation: 6s linear infinite alternate slide;
}
#thursty:hover {
  animation-play-state: paused;
}
@keyframes slide {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 800px);
  }
}
.thanks {
  color: orangered;
  font-size: 0.8vmax;
}
::-webkit-scrollbar {
  display: none;
}
.modal {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 5%;
  font-size: 1.8rem;
  line-height: 2.5rem;
  background-color: #0e141b;
  padding: 5rem;
  padding-bottom: 7rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.close-modal {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: 0 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.233);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.hidden {
  display: none;
}
