html {
  /* background-color: #0e141b; */
  color: #f2f5f7;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  text-align: center;
  background: linear-gradient(to bottom right, #1c2935 30%, #0e141b 100%);
  min-height: 100%;
  background-attachment: fixed;
  padding-top: 1rem;
}
a {
  color: #ffe100;
  text-decoration: none;
  font-weight: 800;
}
.topnav {
  background-color: #ffe100;
  color: #0e141b;
  padding: 0.2rem 0.5rem 0 0.5rem;
  width: 5rem;
  font-size: large;
  font-weight: 800;
  border-radius: 15px;
  border: 0;
  box-shadow: -2px 5px #0e141b;
  display: inline-block;
}
.topnav:hover {
  background-color: #ff0a78;
  text-decoration: none;
}
.topnav:active {
  transform: translate(-1%, 0.2rem);
  box-shadow: 0 0;
}
::-moz-selection {
  /* Code for Firefox */
  color: #9776df;
  background: rgba(255, 255, 255, 0);
}
::selection {
  color: #9776df;
  background: rgba(255, 255, 255, 0);
}
.header {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: larger;
  color: #ff0a78;
}
.footer {
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  color: #651fff;
  font-weight: 800;
  position: fixed;
  bottom: 0;
  width: 100%;
}
div + div {
  margin-top: 40px;
}
.catlink {
  background: -webkit-linear-gradient(left, #ff0a78 30%, #ffe100 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.catlink:hover {
  text-decoration: underline;
}
#thursty {
  position: absolute;
  width: 800px; /* <- relevant for the animation */
  animation: 6s linear infinite alternate slide;
}
#thursty:hover {
  animation-play-state: paused;
}
@keyframes slide {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 800px); /* 200px - 20px */
  }
}
.thanks {
  color: #ff0a78;
}
::-webkit-scrollbar {
  display: none;
}
