html {
    background-color: #0e141b;
    color: #f2f5f7;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    padding: 10px 0;
    text-align: center;
}
a {
    color: #ffe100;
    text-decoration: none;
    font-weight: 800;
}
a:hover {
    text-decoration: underline;
}
.topnav {
    color: #ffe100;
    text-decoration: none;
    word-spacing: 20px;
    font-size: larger;
}
::-moz-selection {
    /* Code for Firefox */
    color: #9776df;
    background: rgba(255, 255, 0, 0);
}
::selection {
    color: #9776df;
    background: rgba(255, 255, 0, 0);
}
.header {
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: larger;
    color: #ff0a78;
}
.footer {
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    color: #651fff;
    font-weight: 800;
    position: fixed;
    bottom: 0;
    width: 100%;
}
div + div {
    margin-top: 40px;
}
#thursty {
    position: absolute;
    width: 800px; /* <- not relevant for the animation */
    animation: 6s linear infinite alternate slide;
}
#thursty:hover {
    animation-play-state: paused;
}
@keyframes slide {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 800px); /* 200px - 20px */
    }
}
.thanks {
    color: #ff0a78;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: all 1s ease 0s;
}
